name: build

on:
  push:
    branches:
    - '*'

jobs:
  build:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 24
        registry-url: https://npm.pkg.github.com/
    - name: Build project
      run: |
        echo "@open-game-server-host:registry=https://npm.pkg.github.com/" >> .npmrc
        echo "//npm.pkg.github.com/:_authToken=\"$TOKEN\"" >> .npmrc
        echo "//npm.pkg.github.com/:always-auth=true" >> .npmrc
        npm i
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: npm i -g typescript
    - run: tsc
    - name: Publish docker image
    - name: Docker login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker
      uses: docker/setup-buildx-action@v3
    - name: Build and Publish Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ghcr.io/open-game-server-host/daemon:${{ github.ref_name }}
        context: .